
@model IEnumerable<MarineDataSheet.Datum>

    <div>
        <h4>Datum</h4>
        <table >
            <tr>
                <th style="background-color: Yellow;color: blue">
                   Datasheet Number
                </th>
                <th style="background-color: Yellow;color: blue">
                    Status
                </th>
                <th style="background-color: Yellow;color: blue">
                    ID
                </th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datasivun_numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datasheet_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Laskuri)
            </td>
        </tr>

            }
        </table>

    </div>