@*@model MarineDataSheet.Models.Datasheet*@
    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">

            <div class="row">
                <div class="col-lg-4">

                    @*@Html.DisplayNameFor(model => model.Datasivun_numero)



                    @Html.DisplayFor(model => model.Datasivun_numero)*@

                </div>
            </div>
        </div>
    </div>